@*@using Vidly.Models*@
@*@model Vidly.Models.Movie*@
@model Vidly.ViewModels.RandomMovieViewＭodel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>
        @Model.Movie.Name
        @Model.Customers
    </h2>
    